html {
    
    font-family: 'Inter', sans-serif;
    font-size: 62,5%;
   
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
}

ul, ol {
    list-style-type: none;
    
}

header { 
   width: 100%;
    position: fixed;
    background-color: #ffc44d;
    
        
}

body {
    margin: 0;
}

.container {
    background-color: whitesmoke ; 
    margin: 0 auto;
    max-width: 1200px; 
}

    
  


.caja {
    display: flex;
    justify-content: space-around;
  
}

.caja__link {
    font-size: 1.2em ;
    padding: 0.8em 1.6em;
    display: inline-block;
    transition: all .3s ease-in-out;
    position: relative;
}

.caja__link:hover {
    background-color: rgb(137, 201, 146);
}


   

.caja__icono {
    display: flex;
    align-items: center;
    border-radius: 100% ;
    gap: 0.8em;
}

nav img {
    border-radius: 50%;
    max-width: 300px;
}

.enlaces {
    display: flex;
    font-size:larger;
    
    margin-top: 3rem;
    gap: 1rem;
   
    
}

section img {
    height: 100%;
    margin-top: 100px;
}


.mapa-contenido {
    position: relative;
}

.video, .titulo-principal, .mapa-contenido, .p {
    display: flex;
    justify-content: center;
    position: inherit;

}

