/* Estilos para escritorio (ancho de pantalla mayor a 768px) */
@media (min-width: 768px) {
    body {
        font-size: 16px; 
        background-color: #f2f2f2; 
    }

}

/* Estilos para tablet (ancho de pantalla entre 481px y 767px) */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size: 14px; 
        background-color: #d9d9d9;
    }

}

/* Estilos para móvil (ancho de pantalla menor o igual a 480px) */
@media (max-width: 480px) {
    body {
        font-size: 12px; 
        background-color: #c6c6c6; 
    }

    /* Agrega más estilos específicos para móvil aquí */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/*********/
/* INDEX */
/*********/

header{
    width: 100%;
}

/* Estilos específicos para el contenido del body en todos los archivos HTML */
main {
    padding: 20px;
    margin-bottom: 60px; /* Añadimos margen inferior para dejar espacio al footer */
    flex-grow: 1;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}
  
.caja{
   width: 98.5vw;
   background-color: #fdfd96;
   text-align: center;
   padding-block: 5px;
}

.caja img{
    width: 110px;
    border: 3px solid #84b6f4;
    border-radius: 50%;    
}

.caja nav ul{
    list-style: none;       
}

.caja nav ul li{
    display: inline-block;
    position: relative;
    margin-top: 15px; 
}

.caja nav ul a{
    text-decoration: none;
    color: #84b6f4;
}

.principal{
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
}
.parrafo img {
    width: 90%;
}

.principal h2, p{
    margin-block: 10px;
}
.diferenciales{
    text-align: center;
}
.mapa, .video{
    text-align: center;
}

footer p{
    text-align: center;
    background-color: #fdfd96;
    padding-block: 10px;
    color: #84b6f4;
}
.parrafo {
    text-align: center;
}

/************/
/* Mascotas */
/************/

.contenedor .adopt {
        width: 100%;
        padding: 10px;
        border: #fdfd96;
        
    
}
.contenedor .fotos{
    width: 100%;    
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-gap: 10px;
    grid-template-areas: "f1 f2";
    text-align: center;
    margin-block: 10px;
    padding-inline: 20px;    
}

.contenedor .fotos img{
    width: 200px;
    padding-top: 10px;    
}

.fotos .f1,.f2,.f3,.f4{
    border: 5px solid #84b6f4;
}

.fotos h3{
    color: #84b6f4;
}

.fotos p{
    text-align: start;
    margin: 10px;    
}

/************/
/* Contacto */
/************/
.datoscontactos{
    width: 600px;
    margin: 0 auto;
    
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table{
    margin-block: 10px;
    margin-inline: auto; 
}

.tabla{
    text-align: center;
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th{
    border: 1px solid #000000;
    padding: 8px 15px;    
}

/* AClase para la animación del banner */
.banner {
    transform-origin: center;
    transition: transform 0.5s; 
  }
  
  /* Aplica la transformación solo cuando el usuario coloca el mouse sobre la imagen */
  .banner:hover {
    transform: scale(0.8); 
  }

  .miembro {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.contenido-miembro {
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

.sticky-footer {
    text-align: center;
    padding: 10px;
    background-color: #fdfd96;
    color: #84b6f4;
    position: relative; /* Agregamos posición relativa */
    clear: both; /* Limpiamos el flotado de los elementos internos */
  }
  

/*
a {
    text-decoration: none;
    color: inherit;
    font-family: 'Raleway';
}

ul, ol {
    list-style-type: none;
    
}

header { 
   width: 100%;
    position: fixed;
    background-color: #ffc44d;
    
        
}

body {
    margin: 0;
}

.container {
    background-color: whitesmoke ; 
    margin: 0 auto;
    max-width: 1200px; 
}

.caja {
    display: flex;
    justify-content: space-around;
  
}

.caja__link {
    font-size: 1.2em ;
    padding: 0.8em 1.6em;
    display: inline-block;
    transition: all .3s ease-in-out;
    position: relative;
}

.caja__link:hover {
    background-color: rgb(137, 201, 146);
}   

.caja__icono {
    display: flex;
    align-items: center;
    border-radius: 100% ;
    gap: 0.8em;
}

nav img {
    border-radius: 50%;
    max-width: 300px;
}

.enlaces {
    display: flex;
    font-size:larger;
    
    margin-top: 3rem;
    gap: 1rem;    
}

section img {
    height: 100%;
    margin-top: 100px;
}


.mapa-contenido {
    position: relative;
}

.video, .titulo-principal, .mapa-contenido, .p {
    display: flex;
    justify-content: center;
    position: inherit;
}

*/